APP_MODE=live
DB_URL=sqlite:///./trading_app.db
MT5_ENABLED=true

MT5_LOGIN=Login
MT5_PASSWORD=MotdePasse
MT5_SERVER=Exness-MT5Trial9
MT5_PATH=C:\Program Files\MetaTrader 5\terminal64.exe

DEFAULT_SYMBOL=EURUSDm
DEFAULT_TIMEFRAME=M15
AUTO_REFRESH_SECONDS=20